<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:name=".AppClass"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".apicalling.apicallingcrud.ApiCallingShowDataActivity"
            android:theme="@style/Theme.Material3.Light"
            android:exported="false" />
        <activity
            android:name=".apicalling.apicallingcrud.PostAndPutApiCallingActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light" />
        <activity
            android:name=".apicalling.getapicaliing.ApiCallingActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".room.roomStudentAddOrUpdateActivity"
            android:exported="false"
            android:theme="@style/theme1" />
        <activity
            android:name=".room.roomStudentMainActivity"
            android:exported="false"
            android:theme="@style/theme1" />
        <activity
            android:name=".sqlite.SqliteUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".sqlite.SqliteMainActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".sqlite.SqliteAddDataActivity"
            android:exported="false" />
        <activity
            android:name=".constraintlayoutandrecycleview.ProductListActivity"
            android:exported="false" />
        <activity
            android:name=".constraintlayoutandrecycleview.ProductFilterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fregment.Fregment_lifecycle"
            android:exported="false" />
        <activity
            android:name=".cameraandgallery.ShowImageActivity"
            android:exported="false" />
        <activity
            android:name=".task.secondActivity"
            android:exported="false" />
        <activity
            android:name=".cameraandgallery.SelectImageActivity"
            android:exported="false" />
        <activity
            android:name=".androidactivitylifecycle.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".canvas.CanvasFirstActivity"
            android:exported="false" />
        <activity
            android:name=".demooops.Polymorphisum"
            android:exported="false" />
        <activity
            android:name=".demooops.Encapsulation"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".androidactivitylifecycle.A2"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".task.firstActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>